services:
  app:
    build: .
    container_name: cover-art-cache-app
    volumes:
      - ${COVER_ART_CACHE_DIR}:/cover-art-cache
    ports:
      - "127.0.0.1:8000:8000"
    restart: unless-stopped
    user: "1000:1000"
    environment:
      - COVER_ART_CACHE_MAX_SIZE=${COVER_ART_CACHE_MAX_SIZE}
      - VIRTUAL_HOST=${VIRTUAL_HOST}
      - VIRTUAL_PORT=8000
      - LETSENCRYPT_HOST=${LETSENCRYPT_HOST}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - ssl-proxy-network
      - cache-network

  cleaner:
    build:
       context: .
       dockerfile: Dockerfile.cleaner
    container_name: cover-art-cache-cleaner
    environment:
       - PYTHONUNBUFFERED=1
       - COVER_ART_CACHE_MAX_SIZE=${COVER_ART_CACHE_MAX_SIZE}
       - COVER_ART_CACHE_CLEANUP_INTERVAL=${COVER_ART_CACHE_CLEANUP_INTERVAL}
    volumes:
       - ${COVER_ART_CACHE_DIR}:/cover-art-cache
    restart: unless-stopped
    networks:
       - cache-network

networks:
  ssl-proxy-network:
    name: ssl-proxy-network
    external: true
  cache-network:
    name: cache-network
